:root {
    --theme: #25afff;
}

h3 {
    margin: 4px;
    
}

h4 {
    margin: 4px;
    font-size: 20px;
    font-weight: 200;
}

h5 {
    margin: 0px;
    font-size: 16px;
    font-weight: 200;
    font-style: italic
}

.arith-btn {
    height: 2rem;
    width: 2rem;
    border-radius: 8px;
    font-size: 16px;
}

button {
    outline: none;
    border: 0px;
    background-color: var(--theme);
    color: white;   
}

.temp-btn {
    font-size: 16px;
    height: 2rem;
    width: 2rem;
    border-radius: 8px;
}

.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.thermometer-container {
    height: 500px;
    width: 400px;
    display: grid;
    grid-template-areas: "thermometer-container";
    place-items:center;
}

.thermometer-container > * {
    grid-area: thermometer-container;
}

.slider {
    position: relative;
    bottom: 12px;
    height: 30px;
    width: 425px;
    rotate: 270deg;
    opacity: 0;
}

.video-container {
    margin-top: 20px;
    width: 896px;
    height: 504px;
}

#circle, #mercury {
    /* transition: stroke 0.5s ease-out; */
    fill: var(--theme);
    transition: fill 0.5s ease-out;
}



#image {
    width: 320px;
    height: 240px;
    object-fit: cover;
    border-radius: 12px;

}

#fun_fact {
    width: 320px;
    flex-wrap: wrap;
}

#thermometer-input {
    font-size: 16px;
}








/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}