:root {
    --theme: #25afff;
    --theme-darker: color-mix(in srgb, var(--theme) 90%, black);
    --sidebar-width: 300px;
}

h1 {
    font-size: 28px;
}

h3 {
    margin: 8px 0 8px 0;
    font-size: 22px;
}

h4 {
    margin: 4px;
    font-size: 20px;
    font-weight: 200;
}

h5 {
    margin: 0px;
    font-size: 18px;
    font-weight: 200;
    /* font-style: italic; */
}

.arith-btn {
    height: 2rem;
    width: 2rem;
    border-radius: 8px;
    font-size: 16px;
}

input {
    padding: 8px;
}

button {
    outline: none;
    border: 0px;
    transition: background-color 0.2s ease-out;
    background-color: var(--theme);
    color: white;   
}

button:hover {
    background-color: var(--theme-darker);
}

.temp-btn {
    font-size: 16px;
    height: 2rem;
    width: 2rem;
    border-radius: 8px;
}

.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.thermometer-container {
    height: 500px;
    width: 400px;
    display: grid;
    grid-template-areas: "thermometer-container";
    place-items:center;
}

.thermometer-container > * {
    grid-area: thermometer-container;
}

.slider {
    position: relative;
    bottom: 12px;
    height: 30px;
    width: 425px;
    rotate: 270deg;
    opacity: 0;
}

.video-container {
    margin-top: 20px;
    width: 896px;
    height: 504px;
}

#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--sidebar-width);
    height: 100%;
    transition: background-color 0.5s ease-out;
    background-color: var(--theme);
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

#sidebar ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

#sidebar ul li {
    padding: 30px 0 30px 30px;
    font-size: 20px;
}

#sidebar ul li:hover {
    background-color: var(--theme-darker);
}

#main-content {
    margin-left: var(--sidebar-width);
    padding-left: 20px;
    margin-bottom: 30px;
}

#circle, #mercury {
    /* transition: stroke 0.5s ease-out; */
    fill: var(--theme);
    transition: fill 0.5s ease-out;
}



#image {
    width: 400px;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;

}

#fun_fact {
    width: 360px;
    flex-wrap: wrap;
}

#thermometer-input {
    width: 100px;
    height: 16px;
    font-size: 16px;
}

#formula-list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, minmax(260px, 1fr));
    gap: 1rem;
    max-width: 100%;
}

#cfk {
    position: relative;
    left: 22px;
    margin-bottom: 8px;
}

.input-group {
    display: flex;
    align-items: center;
    width: 320px;
    position: relative;
    left: 108px;
}

.input-field-with-span {
    width: 140px;
    margin-left: 12px;
    margin-right: 12px;
}


#description-stuff {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;  /* controls vertical spacing between children */
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}