.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.thermometer-container {
    height: 500px;
    width: 500px;
    display: grid;
    grid-template-areas: "thermometer-container";
    place-items:center;
}

.thermometer-container > * {
    grid-area: thermometer-container;
}

.slider {
    position: relative;
    bottom: 12px;
    height: 30px;
    width: 425px;
    rotate: 270deg;
    opacity: 0;
}

.video-container {
    margin-top: 20px;
    width: 896px;
    height: 504px;
}

#circle, #mercury {
    /* transition: stroke 0.5s ease-out; */
    transition: fill 0.5s ease-out;
}

#thermometer-input {
    width: 8rem;
}

#image {
    width: 400px;
    height: 300px;
    object-fit: cover;
}

#fun_fact {
    width: 400px;
    flex-wrap: wrap;
}










/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}